[package]
name            = "disktest"
description     = "Hard Disk and Solid State Disk tester"
version         = "1.6.0"
homepage        = "https://bues.ch/h/disktest"
license         = "GPL-2.0-or-later"
readme          = "README.md"
repository      = "https://bues.ch/cgit/disktest.git"
authors         = ["Michael Buesch <m@bues.ch>"]

categories      = ["command-line-utilities", "filesystem", "hardware-support"]
keywords        = ["disk", "HDD", "SSD", "flash", "SD-card"]

exclude         = ["/maintenance/", "/testfile*"]

edition         = "2021"

[dependencies]
anyhow          = "1.0.0"
clap            = "3.0.0"
crc             = "1.0.0"
hhmmss          = "0.1.0"
libc            = "0.2.0"
rand            = "0.8.0"
rand_chacha     = "0.3.0"
rust-crypto     = "0.2.0"
signal-hook     = "0.3.0"
tempfile        = "3.0.0"

[target.'cfg(target_os="windows")'.dependencies]
winapi          = "0.3.0"

[profile.dev]
lto             = "thin"
opt-level       = 2

[profile.release]
lto             = "thin"

[profile.test]
lto             = "thin"
opt-level       = 2

[profile.bench]
lto             = "thin"

# vim: ts=4 sw=4 expandtab
